#outbox{
    width: 320px;
    height: 420px;
    background-color: beige;
    display: grid;
    place-items: center;
    margin-left: 20px;
    margin-top: 90px;
}
#box>form{
    width: 280px;
    height: 320px;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input{
    height: 50px;
}
button{
    height: 50px;
background-color: orangered;
}